<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <div layout-align="center center">
      <form [formGroup]="editForm" (ngSubmit)="editHero(editForm.value)">
        <mat-form-field>
          <mat-label>ID: </mat-label>
          <input type="number" matInput disabled value="{{ editForm.value.id }}" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hero name</mat-label>
          <input [value]="editForm.value.name | titlecase" type="text" formControlName="name" matInput
            placeholder="Cat woman" />
        </mat-form-field>
        <button md-margin [disabled]="editForm.invalid" mat-button color="primary" class="submit">
          Submit
        </button>
        <button type="button" mat-button color="basic" class="button" routerLink="/hero">
          Cancel
        </button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>